<article>
    <div class="login">
        <p class="text3">비밀번호를 잊으셨나요?</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
        <%= f.email_field :email, class:"form-control", autofocus: true, placeholder: "이메일" %>
        </div>
       
        <div class="actions col-12">
          <div class="row">
          <button id="signup_btn" class="btn btn-lg btn-block"><%= f.submit "확인", id: 'signup_input' %></button>
          </div>
        </div>
        <% end %>
        
         <div class="info">*이메일로 비밀번호 재설정 방법을 보내드립니다</div>
        
        <div class="row justify-content-between signchoice_btn">
          <div class="col-5 text-left">
            <%= link_to '로그인', new_user_session_path, :id => "text5" %>
          </div>
          <div class="col-6 text-right text5">
            <%= link_to '회원가입', new_user_registration_path,  :id => "text5" %>
          </div>
        </div>
    </div>
</article>