


<script>
jQuery(function($){
	$( document )
		.drag("start",function( ev, dd ){
			return $('<div class="selection" />')
				.css('opacity', .65 )
				.appendTo( document.body );
		})
		.drag(function( ev, dd ){
			$( dd.proxy ).css({
				top: Math.min( ev.pageY, dd.startY ),
				left: Math.min( ev.pageX, dd.startX ),
				height: Math.abs( ev.pageY - dd.startY ),
				width: Math.abs( ev.pageX - dd.startX )
			});
		})
		.drag("end",function( ev, dd ){
			$( dd.proxy ).remove();
		});
		
	$('.table td')
		.drop("start",function(){
			$( this ).addClass("active");
		})
		.drop(function( ev, dd ){
			$( this ).toggleClass("dropped");
			if(document.getElementById('dropped').checked) {
      $(this).checked();
      } else {
      $(this).unchecked();
      };
  		});
		.drop("end",function(){
			$( this ).removeClass("active");
		});
	$.drop({ multi: true });
	




});	
</script>


<%= form_tag gyosiyakdoks_gyosiyakdokcreate_path do %>
<article>
  <p class="text4">아래의 주소를 친구들에게 보내서<br> 함께 약똑을 잡아보세요!</p>
  <p class="text6">https://yakdok-rails-five-ahnroonjang.c9users.io/home/gyosipage/<%= @myroom.roomnumber%></p>
  <p class="text4">** 가능한 시간 드래그 후 완료 버튼 클릭! **<p>
</article>

<hr>


<div class="container-for-table">

    <table class="table" id="timetable">
          <thead>
            <tr class="thead-color">
              <th class="timenumber">교시</th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td> <%= check_box_tag(:period1) %></td>
              <td> <%= check_box_tag(:period11) %></td>
              <td> <%= check_box_tag(:period21) %></td>
              <td> <%= check_box_tag(:period31) %></td>
              <td> <%= check_box_tag(:period41) %></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td> <%= check_box_tag(:period2) %></td>
              <td> <%= check_box_tag(:period12) %></td>
              <td> <%= check_box_tag(:period22) %></td>
              <td> <%= check_box_tag(:period32) %></td>
              <td> <%= check_box_tag(:period42) %></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td> <%= check_box_tag(:period3) %></td>
              <td> <%= check_box_tag(:period13) %></td>
              <td> <%= check_box_tag(:period23) %></td>
              <td> <%= check_box_tag(:period33) %></td>
              <td> <%= check_box_tag(:period43) %></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td> <%= check_box_tag(:period4) %></td>
              <td> <%= check_box_tag(:period14) %></td>
              <td> <%= check_box_tag(:period24) %></td>
              <td> <%= check_box_tag(:period34) %></td>
              <td> <%= check_box_tag(:period44) %></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td> <%= check_box_tag(:period5) %></td>
              <td> <%= check_box_tag(:period15) %></td>
              <td> <%= check_box_tag(:period25) %></td>
              <td> <%= check_box_tag(:period35) %></td>
              <td> <%= check_box_tag(:period45) %></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td> <%= check_box_tag(:period6) %></td>
              <td> <%= check_box_tag(:period16) %></td>
              <td> <%= check_box_tag(:period26) %></td>
              <td> <%= check_box_tag(:period36) %></td>
              <td> <%= check_box_tag(:period46) %></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td> <%= check_box_tag(:period7) %></td>
              <td> <%= check_box_tag(:period17) %></td>
              <td> <%= check_box_tag(:period27) %></td>
              <td> <%= check_box_tag(:period37) %></td>
              <td> <%= check_box_tag(:period47) %></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td> <%= check_box_tag(:period8) %></td>
              <td> <%= check_box_tag(:period18) %></td>
              <td> <%= check_box_tag(:period28) %></td>
              <td> <%= check_box_tag(:period38) %></td>
              <td> <%= check_box_tag(:period48) %></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td> <%= check_box_tag(:period9) %></td>
              <td> <%= check_box_tag(:period19) %></td>
              <td> <%= check_box_tag(:period29) %></td>
              <td> <%= check_box_tag(:period39) %></td>
              <td> <%= check_box_tag(:period49) %></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td> <%= check_box_tag(:period10) %></td>
              <td> <%= check_box_tag(:period20) %></td>
              <td> <%= check_box_tag(:period30) %></td>
              <td> <%= check_box_tag(:period40) %></td>
              <td> <%= check_box_tag(:period50) %></td>
            </tr>
   
          </tbody>
    </table>
 
    <div class="actions col-12">
       
      <div class="row">
        <%= hidden_field_tag "roomnumber", @myroom.roomnumber%>
        <%= button_to "추가하기", gyosiyakdoks_gyosiyakdokcreate_path, :method => "post", :id => "signup_btn", :class => "btn btn-lg btn-block" %>
       <% end %>
      </div>
    </div>

</div>