
<!--<script>-->
<!--jQuery(function($){-->
<!--	$( document )-->
<!--		.drag("start",function( ev, dd ){-->
<!--			return $('<div class="selection" />')-->
<!--				.css('opacity', .65 )-->
<!--				.appendTo( document.body );-->
<!--		})-->
<!--		.drag(function( ev, dd ){-->
<!--			$( dd.proxy ).css({-->
<!--				top: Math.min( ev.pageY, dd.startY ),-->
<!--				left: Math.min( ev.pageX, dd.startX ),-->
<!--				height: Math.abs( ev.pageY - dd.startY ),-->
<!--				width: Math.abs( ev.pageX - dd.startX )-->
<!--			});-->
<!--		})-->
<!--		.drag("end",function( ev, dd ){-->
<!--			$( dd.proxy ).remove();-->
<!--		});-->
		
<!--	$('.table td')-->
<!--		.drop("start",function(){-->
<!--			$( this ).addClass("active");-->
<!--		})-->
<!--		.drop(function( ev, dd ){-->
<!--			$( this ).toggleClass("dropped");-->
<!--		})-->
<!--		.drop("end",function(){-->
<!--			$( this ).removeClass("active");-->
<!--		});-->
			
<!--	$.drop({ multi: true });-->

<!--});	-->
<!--</script>-->


<%= form_tag gyosiyakdoks_gyosiyakdokcreate_path do %>
<article>
  <p class="text4 mt-4">아래의 주소를 친구들에게 보내서<br> 함께 약똑을 잡아보세요!</p>
  <input type="text" id="copyTarget" value="https://yakdok-rails-five-ahnroonjang.c9users.io/home/siganpage/<%=@myroom.roomnumber%>"> <button id="copyButton">Copy</button><br><br>

<script>
    document.getElementById("copyButton").addEventListener("click", function() {
    copyToClipboard(document.getElementById("copyTarget"));
});

function copyToClipboard(elem) {
	  // create hidden text element, if it doesn't already exist
    var targetId = "_hiddenCopyText_";
    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
    var origSelectionStart, origSelectionEnd;
    if (isInput) {
        // can just use the original source element for the selection and copy
        target = elem;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;
    } else {
        // must use a temporary form element for the selection and copy
        target = document.getElementById(targetId);
        if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
        }
        target.textContent = elem.textContent;
    }
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
    	  succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    
    if (isInput) {
        // restore prior selection
        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
    } else {
        // clear temporary content
        target.textContent = "";
    }
    return succeed;
}
</script>
  <p class="text4">** 가능한 시간 체크 후 제출 클릭! **<p>
</article>

<hr>


<div class="container-for-table">

    <table class="table" id="timetable">
          <thead>
            <tr class="thead-color">
              <th class="timenumber">교시</th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td> <%= check_box_tag(:period1) %></td>
              <td> <%= check_box_tag(:period11) %></td>
              <td> <%= check_box_tag(:period21) %></td>
              <td> <%= check_box_tag(:period31) %></td>
              <td> <%= check_box_tag(:period41) %></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td> <%= check_box_tag(:period2) %></td>
              <td> <%= check_box_tag(:period12) %></td>
              <td> <%= check_box_tag(:period22) %></td>
              <td> <%= check_box_tag(:period32) %></td>
              <td> <%= check_box_tag(:period42) %></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td> <%= check_box_tag(:period3) %></td>
              <td> <%= check_box_tag(:period13) %></td>
              <td> <%= check_box_tag(:period23) %></td>
              <td> <%= check_box_tag(:period33) %></td>
              <td> <%= check_box_tag(:period43) %></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td> <%= check_box_tag(:period4) %></td>
              <td> <%= check_box_tag(:period14) %></td>
              <td> <%= check_box_tag(:period24) %></td>
              <td> <%= check_box_tag(:period34) %></td>
              <td> <%= check_box_tag(:period44) %></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td> <%= check_box_tag(:period5) %></td>
              <td> <%= check_box_tag(:period15) %></td>
              <td> <%= check_box_tag(:period25) %></td>
              <td> <%= check_box_tag(:period35) %></td>
              <td> <%= check_box_tag(:period45) %></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td> <%= check_box_tag(:period6) %></td>
              <td> <%= check_box_tag(:period16) %></td>
              <td> <%= check_box_tag(:period26) %></td>
              <td> <%= check_box_tag(:period36) %></td>
              <td> <%= check_box_tag(:period46) %></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td> <%= check_box_tag(:period7) %></td>
              <td> <%= check_box_tag(:period17) %></td>
              <td> <%= check_box_tag(:period27) %></td>
              <td> <%= check_box_tag(:period37) %></td>
              <td> <%= check_box_tag(:period47) %></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td> <%= check_box_tag(:period8) %></td>
              <td> <%= check_box_tag(:period18) %></td>
              <td> <%= check_box_tag(:period28) %></td>
              <td> <%= check_box_tag(:period38) %></td>
              <td> <%= check_box_tag(:period48) %></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td> <%= check_box_tag(:period9) %></td>
              <td> <%= check_box_tag(:period19) %></td>
              <td> <%= check_box_tag(:period29) %></td>
              <td> <%= check_box_tag(:period39) %></td>
              <td> <%= check_box_tag(:period49) %></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td> <%= check_box_tag(:period10) %></td>
              <td> <%= check_box_tag(:period20) %></td>
              <td> <%= check_box_tag(:period30) %></td>
              <td> <%= check_box_tag(:period40) %></td>
              <td> <%= check_box_tag(:period50) %></td>
            </tr>
   
          </tbody>
    </table>
 
    <div class="actions col-12">
       
      <div class="row">
        <%= hidden_field_tag "roomnumber", @myroom.roomnumber%>
        <%= button_to "제출", gyosiyakdoks_gyosiyakdokcreate_path, :method => "post", :id => "signup_btn", :class => "btn btn-lg btn-block" %>
        <%= button_to "기존에 저장했던 정보로 제출", '/', :method => 'get',
         :id => "signup_btn",:class => "btn btn-lg btn-block" %>
       <% end %>
      </div>
      
      
    </div>

</div>