<div class="container">
  <p class="text4 mt-4">아래의 주소를 친구들에게 보내서<br> 함께 약똑을 잡아보세요!</p>
  <p class="text6">yakdok-rails-five-ahnroonjang.c9users.io/home/siganpage/<%= @myroom.roomnumber%></p>
  <br>
  <%= @month = "" %>
  <%= @day = "" %>
  <%= @myroom.roomnumber.split("-")[1] %>/<%= @myroom.roomnumber.split("-")[2] %>
  
  

  <% if current_user.present? %>
  <p class="text4">로그인을 한 이상 버튼만 눌러라. 나머지는 우리가 다 한다.</p>
	  <%= @chosensigan = Usersigan.find_by(user: current_user).sigan %>
	  <%= form_tag home_siganyakdokcreate_path do %>
		<%=hidden_field_tag "roomnumber", @myroom.roomnumber%>
		<%= hidden_field_tag "sigan", @chosensigan %>
		<%= hidden_field_tag "count", @nalja %>
		<%= hidden_field_tag "resultNum", @chosensigan %>
		<%= submit_tag %>

	
		
		<% end %>
  <!--if 구문 추가해서 만약 로그인 상태라면 본인 시간 사용할 수 있게 하도록! 기존 정보 사용이 가능합니다 라는 내용 추가
  및 @chosensigan에 기존 정보 가져오게 할 것-->
  <% else %>
 <p class="text4"> ** 되는 시간을 체크 혹은 드래그하세요 **</p>


  
  




<script>
jQuery(function($){
	$( document )
		.drag("start",function( ev, dd ){
			return $('<div class="selection" />')
				.css('opacity', .65 )
				.appendTo( document.body );
		})
		.drag(function( ev, dd ){
			$( dd.proxy ).css({
				top: Math.min( ev.pageY, dd.startY ),
				left: Math.min( ev.pageX, dd.startX ),
				height: Math.abs( ev.pageY - dd.startY ),
				width: Math.abs( ev.pageX - dd.startX )
			});
		})
		.drag("end",function( ev, dd ){
			$( dd.proxy ).remove();
		});
		
	$('.drop')
		.drop("start",function(){
			$( this ).addClass("active");
		})
		.drop(function( ev, dd ){
			$( this ).toggleClass("dropped");
		})
		.drop("end",function(){
			$( this ).removeClass("active");
		});
			
	$.drop({ multi: true });
	
	$("#selectBtn").click(function(){
		var result = $(".dropped").text();
		var array = new Array();
		array.push(result);
		 $("#resultNum").val(array);
	});
});	

</script>
<%= form_tag home_siganyakdokcreate_path do%>
<%= hidden_field_tag "roomnumber", @myroom.roomnumber%>
<%= hidden_field_tag "sigan", @chosensigan %>
<%= hidden_field_tag "count", @nalja %>
<%= text_field_tag 'resultNum' %>
<%= submit_tag %>
<% end %>


<div class="mt-4 lasthello" id="select-table">
 	<% for i in 1..280 do %>
	 <div class="drop" ><%="#{i}"%>/</div>
	<% end %>	
</div>

<% end %>
<hr>

     
<button type="button" class="btn btn-lg " id="signup_btn">선택</button>
</div>